header{
    width: 100%;
    height: 200px;
    background-color: #5e299a;
    position: relative;
}

header .container{
    position: relative;
}

header .header-black{
    background-color: #000;
    height: 40px;
}
header .header-black li{
    background-image: url("../img/hypegg-logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin: 4px 1px 3px 1px;
}
header .header-black li.club-01{
    background-position: 0px 0px;
}
header .header-black li.club-02{
    background-position: -48px 0px;
}
header .header-black li.club-03{
    background-position: -48px 0px;
}
header .header-black li.club-04{
    background-position: -48px 0px;
}
header .header-black li.club-05{
    background-position: -48px 0px;
}
header .header-black li.club-06{
    background-position: -48px 0px;
}
header .header-black li.club-07{
    background-position: -48px 0px;
}
header .header-black li.club-08{
    background-position: -48px 0px;
}
header .header-black li.club-09{
    background-position: -48px 0px;
}
header .header-black li.club-10{
    background-position: -48px 0px;
}
header .header-black li.club-11{
    background-position: -48px 0px;
}
header .header-black li.club-12{
    background-position: -48px 0px;
}
header .header-black li.club-13{
    background-position: -48px 0px;
}
header .header-black li.club-14{
    background-position: -48px 0px;
}
header .header-black li.club-15{
    background-position: -48px 0px;
}
header .header-black li.club-16{
    background-position: -48px 0px;
}
header .header-black li a {
   width: 32px;
   height: 32px;
   display: inline-block; 
}
header #logotipo{
    position: absolute;
    top: -20px;
}
#menu li.search{
    width: 182px;
}
#menu li.search input{
    background-color: #5C2D90;
    color: #fff;
}
